{{ $SessionKey := .SessionKey }} {{ $CurrentDayUrl := .CurrentDay.Format
"2006-01-02" }} {{ range .Servings }}
<label class="label cursor-pointer">
    <span class="label-text">
        {{.MedicineName}} {{.MedicineAmount}}<br />
        <span class="text-xs text-gray-700">{{.DosesLeft}} left</span>
    </span>
    <input
        type="checkbox"
        class="toggle toggle-success"
        {{if
        .Taken}}checked="checked"
        {{end}}
        hx-post="/{{$SessionKey}}/{{$CurrentDayUrl}}/servings/prescription/{{.PrescriptionId}}/occurrence/{{.Occurrence}}/{{if .Taken}}not-taken{{else}}taken{{end}}?amount={{.MedicineAmount}}"
        hx-target="#servings"
        hx-swap="innerHTML"
    />
</label>
{{ end }}
