{{ $SessionKey := .SessionKey }}
{{ $CurrentDayUrl := .CurrentDay.Format "2006-01-02" }}

{{ range .Servings }}
<label class="label cursor-pointer" id="serving-{{.TenantId}}-{{.PrescriptionId}}-{{.Occurrence}}">
    <span class="label-text">{{.Medicine}} {{.MedicineAmount}}</span>
    <input
        type="checkbox"
        class="toggle toggle-success"
        {{if
        .Taken}}checked="checked"
        {{end}}
        hx-post="/{{$SessionKey}}/{{$CurrentDayUrl}}/servings/prescription/{{.PrescriptionId}}/occurrence/{{.Occurrence}}/{{if .Taken}}not-taken{{else}}taken{{end}}"
        hx-target="#serving-{{.TenantId}}-{{.PrescriptionId}}-{{.Occurrence}}"
        hx-swap="outerHTML"
    />
</label>
{{ end }}