<label class="label cursor-pointer" id="serving-{{.TenantId}}-{{.PrescriptionId}}-{{.Occurrence}}">
    <span class="label-text">{{.Medicine}} {{.MedicineAmount}}</span>
    <input
        type="checkbox"
        class="toggle toggle-success"
        {{if
        .Taken}}checked="checked"
        {{end}}
        hx-post="/partials/serving?tenant={{.TenantId}}&prescription={{.PrescriptionId}}&occurrence={{.Occurrence}}&taken={{if .Taken}}false{{else}}true{{end}}"
        hx-target="#serving-{{.TenantId}}-{{.PrescriptionId}}-{{.Occurrence}}"
        hx-swap="outerHTML"
    />
</label>
